* {
    inset: 0;
}

h1 {
    text-align: center;
}

body {
    margin-right: auto;
    margin-left: auto;
    width: max-content;
    background-color: #FEFADC;
}

#add {
    background-color: #F6D4BA;
    height: 700px;
    width: 800px;
}